# Python
__pycache__/
*.py[cod]
*.pyo

# Environment
.venv/
venv/
env/

# Conda
.env

# VSCode
.vscode/

# Logs
logs/

# Database
*.db

# Models
models/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Python Cache
.pytest_cache/